@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Forum&family=Jost:ital,wght@0,200;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Forum&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,200;0,500;0,900;1,300;1,400&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&family=Cinzel:wght@400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400&family=Rubik:wght@300;400&display=swap');





.navbar {
    height: 60px;
    background-color: rgb(255, 255, 255);


}

.navbar-brand {
    padding-left: 40px;
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;

}

.logo-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
    /* padding-right: 20px; */
}


.nav-item {
    padding: 10px 10px;
}

.active {
    background-color: rgba(0, 0, 0, 0.248);
}

.End-item {
    margin-right: 40px;
}


.main {
    margin-top: 60px;
}

@media only screen and (max-width: 600px) {
    .about-hero {
        font-size: 100px !important;
    }
}



.about-header {
    display: flex;

    margin-top: 60px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1445205170230-053b83016050?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.about-header span {
    display: grid;
    place-items: center;
    font-size: 200px;
    color: rgb(255, 255, 255);
}



.story-img {
    width: 100%;
    height: 450px;
    object-fit: fill;
}