@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Forum&family=Jost:ital,wght@0,200;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Forum&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,200;0,500;0,900;1,300;1,400&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&family=Cinzel:wght@400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400&family=Rubik:wght@300;400&display=swap');





.navbar {
    height: 60px;
    background-color: rgb(255, 255, 255);


}

.navbar-brand {
    padding-left: 40px;
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;

}

.logo-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
    /* padding-right: 20px; */
}


.nav-item {
    padding: 10px 10px;
}

.active {
    background-color: rgba(0, 0, 0, 0.248);
}

.End-item {
    margin-right: 40px;
}

@media only screen and (max-width: 600px) {
    .about-hero {
        font-size: 100px !important;
    }


}

.about {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(237, 237, 237);
    width: 80%;
}

.main {
    display: grid;
    place-items: center;
}

.about-header {
    display: flex;
    width: 100%;
    margin-top: 60px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1445205170230-053b83016050?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.about-header span {
    display: grid;
    place-items: center;
    font-size: 200px;
    color: rgb(255, 255, 255);
}


.about-para {
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-para h2 {
    font-family: 'Poppins', sans-serif;
}

.about-us {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(237, 237, 237);
    width: 80%;
    padding: 55px;
}

@media only screen and (max-width:768px) {
    .about-us {
        padding: 10px !important;
        width: 90%;
    }
}


.review {
    padding: 20px;
    font-family: 'Didact Gothic', sans-serif;
    background-color: white;
    border-radius: 4px;
    margin: 30px;
}

.review p {
    margin-top: 10px;
}

.story-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width:768px) {
    .story-img {
        height: 100%;
    }

}