@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Forum&family=Jost:ital,wght@0,200;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Forum&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,200;0,500;0,900;1,300;1,400&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&family=Cinzel:wght@400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400&family=Rubik:wght@300;400&display=swap');

.nav-btn {
    background-color: #000000;

}

.navbar {
    height: 60px;
    background-color: rgb(255, 255, 255);


}

.navbar-brand {
    padding-left: 40px;
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;

}

.logo-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
    /* padding-right: 20px; */
}


.nav-item {
    padding: 10px 10px;
}

.active {
    background-color: rgba(0, 0, 0, 0.248);
}

.End-item {
    margin-right: 40px;
}

.head_king {
    margin-top: 60px;
    height: 100vh;
    /* background-image: url("./evoke-img/evoke-main.jpg"); */
    background-image: url("https://images.unsplash.com/photo-1448376561459-dbe8868fa34c?auto=format&fit=crop&q=80&w=2940&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width:540px) {
    .head_king {
        background-position: left;
    }
}

.child_help {
    padding-top: 250px;
    padding-left: 80px;
    display: grid;
    justify-content: start;
}

@media only screen and (max-width:540px) {
    .child_help {
        padding-left: 10px;
        padding-right: 0px;
        justify-content: left;
    }

}

.child_help h3 {
    margin-bottom: 0%;
    font-size: 30px;
    font-weight: 200;
}

@media only screen and (max-width:540px) {
    .child_help h3 {
        font-size: 20px;
        margin-left: 0px;
        padding-left: 0px;
    }

}

.child_help h1 {

    font-family: 'Didact Gothic', sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 45px;
}

@media only screen and (max-width:540px) {
    .child_help h1 {
        font-size: 25px;
        margin-left: 0px;
        padding-left: px;
        padding-right: 60px;
    }

}

.child_help b {
    color: rgb(255, 255, 255);
    font-style: italic;
}

.head_btn {
    background-color: rgb(0, 0, 0);
    width: 80px;
    border-radius: 5px;
    border: 0px;
    transition: box-shadow .5s;
}

.head_btn a {
    color: #ffffff;
    text-decoration: none;
}



/* offer-section */
.offers {
    background-color: whitesmoke;

}

.offers_header {
    padding-top: 50px;
    color: rgb(0, 0, 0);
    display: grid;
    justify-content: center;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

.line {
    background-color: rgb(0, 0, 0);
    height: 3px;
    width: 20%;
    margin: auto;

}

.offer_row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 40px;
    justify-content: space-evenly;
}

@media only screen and (max-width:540px) {
    .offers .row {
        justify-content: center;
    }
}



.offer_card:hover {
    box-shadow: rgb(130 130 130 / 44%) 0px 14px 20px 0px;
    transform: scale(1.03);
}

@media only screen and (max-width:540px) {
    .offer_card {
        max-width: 80% !important;
    }

}



.offer_img {
    margin: auto;
    /* border-radius: 5px; */
    width: 300px;
    height: 400px;
    object-fit: cover;
}


.offer_font {
    background-color: rgb(0 0 0 / 84%);
    height: 120px;
    margin-top: 2px;
    padding-top: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.offer_font h2 {
    font-family: 'Cinzel', serif;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
}

.offer_font h4 {
    margin: 0px;
    font-weight: 100;
    font-size: 18px;
    font-family: 'Alegreya', serif;
    opacity: 0.7;
    color: #ffffff;
    font-family: 200;
}

.offer_font p {
    color: white;
    padding: 0%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}


.offer_btn {
    background-color: #d6d6d6;
    color: rgb(0, 0, 0);
    padding: 0%;
    transition: box-shadow .5s;
    border: none;
    width: 60px;
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    border-radius: 2px;
}

.offer_btn:hover {
    box-shadow: rgba(255, 255, 255, 0.327) 0px 0px 7px 1px;
}

.rate {
    padding: 0%;
    margin: 0%;
    color: rgb(0, 0, 0);
}



/* enquiry */
.enquiry {
    align-items: center;
    justify-content: center;
    display: grid;
    height: 250px;
    background-color: rgb(0 0 0 / 84%);

}

.enquiry div {
    text-align: center;
}

.enquiry h3 {
    color: rgb(255, 255, 255);
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}

#email {
    font-family: 'Jost', sans-serif;
    border: none;
    margin-top: 30px;


}

#email:focus {
    box-shadow: 1px 1px 15px rgb(118, 118, 118);

}

.enq_btn {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 300;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    width: 30%;
}

.enq_btn:hover {
    background-color: black;
    color: white;
}

/* join */

.combo {
    height: auto;
}

.combo-row {
    display: grid;
    place-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    padding-top: 40px;
}

.combo-row h2 {
    font-family: 'Cinzel', serif;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;


}


.combo-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}



.combo-img:hover {
    box-shadow: 0 0 10px #767676;

}

.combo h4 {
    margin-top: 0px;
    margin-left: 10px;
    font-size: 30px;
    font-family: 'Jost', sans-serif;
    font-weight: 100;
    color: #000000;
    text-decoration: underline 1px;
}

.combo a {
    text-decoration: none;
}

/* horizontal scrolling section */

.women-saree {
    /* padding: 50px;
    margin: 50px; */
    margin-bottom: 50px;
}

.scrolling-container {
    overflow-y: auto;
    white-space: nowrap;
}

.scrolling-content {

    display: inline-block;
    white-space: normal;
    padding-bottom: 10px;
    padding-top: 40px;
    padding-right: 20px;
}


.saree_img {
    width: 280px;
    height: 400px;
    object-fit: cover;
}

/* small-bar */
.small-bar {
    margin-top: 20px;
    font-family: 'Jost', sans-serif;
    color: #767676;
    background-color: rgb(0, 0, 0);
    padding-top: 15px;
    height: 120px !important;

}

@media only screen and (max-width:700px) {
    .small-bar {
        padding-top: 7px;
        height: 159px !important;
        padding-bottom: 7px;
    }

}

.small-bar .row div {
    display: grid;
    place-items: center;
    text-align: center;
}

.small-bar div h4 {
    padding-top: 20px;
    margin-bottom: 20px;
    color: rgb(171, 171, 171);
}

.small-bar span {
    font-size: 40px !important;
    color: rgb(255, 255, 255);
}


.copy-right {
    font-family: 'Jost', sans-serif;
}

.copy-right a {
    text-decoration: none;
    border-bottom: 0.5px solid rgb(251, 251, 251);
}